*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 150%;
}

.heading-title {
  align-self: flex-start;
  color: slateblue;
}

.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
}

.score-cont {
  width: 50%;
}

.score-wrapper > *:not(:last-child) {
  margin-bottom: 1rem;
}

.score-wrapper {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.btn-txt {
  color: slateblue;
  font-size: 2rem;
}

.cont-res-dis {
  list-style: none;
  border: 2px solid slateblue;
  padding: 0.5rem;
  border-radius: 8px;
  overflow: hidden;
  max-height: 50vh;
  overflow-y: auto;
}

.cont-res-dis::-webkit-scrollbar {
  width: 7px;
  cursor: pointer;
}

.cont-res-dis::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

.cont-res-dis::-webkit-scrollbar-thumb {
  background: slateblue;
  border-radius: 8px;
}

.cont-res-dis::-webkit-scrollbar-thumb:hover {
  background: slateblue;
  border-radius: 8px;
}

.cont-res-dis::-webkit-scrollbar-thumb:active {
  background: slateblue;
}

.cont-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 55%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont-form > *:not(:last-child) {
  margin-bottom: 1rem;
}

.cont-upd-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.btn-upd,
.btn-submit {
  padding: 0.3rem;
  border: 1px solid slateblue;
  font-size: 1.4rem;
  font-weight: 400;
  color: slateblue;
  background-color: #fff;
  box-shadow: 2px 2px 2px black;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
  backface-visibility: hidden;
  transition: all 0.3s;
}

.btn-upd:hover,
.btn-submit:hover {
  transform: scale(1.1);
}

.btn-upd:active,
.btn-submit:active {
  transform: scale(1);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form > *:not(:last-child) {
  margin-bottom: 1rem;
}

.form-ttl {
  color: slateblue;
}

.usr-name,
.usr-score {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid slateblue;
  font-family: "Poppins", sans-serif;
}

.usr-name:focus,
.usr-score:focus {
  outline: none;
}

.sub {
  align-self: flex-end;
}

.user-scr {
  padding: 0 1rem;
  font-size: 1.2rem;
  border-radius: 3px;
}

@media (max-width: 700px) {
  .container {
    width: 80%;
    flex-direction: column-reverse;
    margin: 5rem auto;
  }

  .score-cont {
    width: 100%;
  }

  .cont-form {
    width: 100%;
  }
}
